.credentials{
  
    margin-top:10px;
    justify-content: center;
    align-self: center;
    width: 300px;
    height: 200px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Horizontal offset, Vertical offset, Blur radius, Spread radius, Color */
    padding: 20px; /* Optional: Add padding for content inside the box */
  
  }
  
  .credentials-heading{
      font-size: 25px;
      margin-bottom: 15px;
      padding-bottom: 10px;
      padding:8px;
  
  }
  
  .credentials-para{
      margin-top:3px;
  }
  